block vars
doctype html
html(lang='ja')
	head(prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#')
		title #{_title_str}
		// Page Setting
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
		meta(name='description', content='#{_desc_str}')
		meta(name='keywords', content='#{_keys_str}')
		//- // OG
		//- meta(property='og:title', content='#{_title_str}')
		//- meta(property='og:description', content='#{_desc_str}')
		//- meta(property='og:url', contetnt='http://www.delightworks.jp/')
		//- meta(property='og:image', content='#{DIR_IMG_CMN}og_image.jpg')
		//- meta(property='og:type', content='website')
		//- meta(name='twitter:site', content='@')
		//- meta(name='twitter:card', content='summary_large_image')
		// ViewPort Setting
		meta(name='viewport', content='width=device-width,user-scalable=yes')
		// Add to homescreen for Chrome on Android
		meta(name='mobile-web-app-capable', content='yes')
		//- // iOS Icon Setting
		//- link(rel='apple-touch-icon', href='#{DIR_IMG_CMN}apple-touch-icon.png')
		//- link(rel='apple-touch-icon', sizes='72x72', href='#{DIR_IMG_CMN}apple-touch-icon-72x72.png')
		//- link(rel='apple-touch-icon', sizes='76x76', href='#{DIR_IMG_CMN}apple-touch-icon-76x76.png')
		//- link(rel='apple-touch-icon', sizes='114x114', href='#{DIR_IMG_CMN}apple-touch-icon-114x114.png')
		//- link(rel='apple-touch-icon', sizes='120x120', href='#{DIR_IMG_CMN}apple-touch-icon-120x120.png')
		//- link(rel='apple-touch-icon', sizes='144x144', href='#{DIR_IMG_CMN}apple-touch-icon-144x144.png')
		//- link(rel='apple-touch-icon', sizes='152x152', href='#{DIR_IMG_CMN}apple-touch-icon-152x152.png')
		//- // GEneric icon
		//- link(rel='shortcut icon', href='/favicon.ico')
		//- // CSS Setting
		//- //-link(href='http://fonts.googleapis.com/css?family=Roboto:900', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='#{DIR_CSS}master.css')
			
		block link

	body(id="#{_page_id}")
			//
				==============================================
				ヘッダー
				==============================================
			//
			header


						//
							==============================================
							グローバル
							==============================================
						//
						//-
							ページ毎にカレントを用意する場合の分岐
						nav
							ul
								if(_page_category == "home")
									li
								else
									li
			//
				==============================================
				コンテンツ
				==============================================
			//
			main
				block body

			//
				==============================================
				フッター
				==============================================
			//
			footer
		//- 全体共通のjs
		script(src='#{DIR_JS}libs.min.js')
		script(src='#{DIR_JS}functions.min.js')
		//- block script
